{% extends "base.html" %}

{% block title %}{{ block.super }} - Mail Lists{% endblock %}

{% block content %}
<h2>Access the Mailing Lists:</h2>

{% if msg %}
<p>{{msg}}</p>
{% endif %}

<form action="" method="post">
{% csrf_token %}
    <div class="fieldWrapper">
        <label class="formField" for="id_allmem">
            All Members:
        </label>
        <br>
        <textarea rows="8" cols="60">{{ allmem }}</textarea>
    </div>
    <br>
{% for key, list in lists.items %}
    <div class="fieldWrapper">
        <label class="formField" for="id_key_{{ forloop.counter }}">
            {{ key }}:
        </label>
        <br>
        <textarea rows="8" cols="60">{{ list }}</textarea>
    </div>
    <br>
{% endfor %}
</form>
{% endblock %}
