<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}UTK Tabletop Gaming Club{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <!--<link rel="shortcut icon"  href="/static/favicon.ico">-->
        <style type="text/css">
            {% block style %}
            {% endblock %}
        </style>
        {% block script %}
        {% endblock %}
    </head>

    <body>
        <div id="wrap">
            <div id="header">
                {% block header %}
                <!--<img src="/static/<banner_file>" alt="U.T.K. T.G.C Banner">-->
                <h1>University of Tennessee - Tabletop Gaming Club</h1>
                {% endblock %}
            </div>

            <div id="navbar">
                {% block nav %}
                <ul class='links'>
                {% for item, sublist in nav_menu %}
                    <li><a class="bubble" href="{{ item.url }}">{{ item.name }}</a></li>
                    {% if sublist %}
                    <ul>
                    {% for item in sublist %}
                        <li><a class="bubble" href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                    <li><a class="bubble" href="{% url 'mailman' %}">Send Mail</a></li>
                {% endif %}
                </ul>
                <ul class='accountlinks'>
                    {% if user.is_authenticated %}
                    <li><a class="bubble" href="/accounts/profile/">{{ user.username }}</a></li>
                    <li><a class="bubble" href="/accounts/logout/">Log Out</a></li>
                    {% else %}
                    <li><a class="bubble" href="/accounts/login/">Login</a></li>
                    <li><a class="bubble" href="/accounts/register/">Register</a></li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
        
            <div id="content">
                {% block content %}
                {% endblock %}
                <br>
            </div>

            <div id="footer" class="bubble">
                {% block footer %}
                Maintained by the University of Tennessee Tabletop Gaming Club administrative team.
                <br>
                Developed by Adam Howard, 2014
                {% endblock %}
            </div>
        </div>
    </body>
</html>
